.block {
	background: #d02424;
	margin: auto;
	width: 50%;
	padding:5px;
}

.button{
	background: #eee;
	margin: auto;
	width:75px;
	padding:10px;
	text-align:center;
}

.input{
	width:50%;
	margin: auto;
	padding:10%;
}
