body{
	background:#1DA1F2;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  }

.block {
	background: #FFF;
	margin: auto;
	padding:10px;
}

.button{
	background: #eee;
	width:75px;
	text-align:center;
}

.input{
	width:30px;
	padding:1px;
}

#wrapper{
	text-align:center;
	width:75%;
	padding:auto;
	margin:auto;
}

#logo{
	display:block;
	width:250px;
	height:250px;
	margin:auto;
	padding:25px;
}